/* Start of Mobile/Default Version */

* {
  box-sizing: border-box;
}
::selection {
  background-color: #001b28;
  color: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#001b28;
  color: #4a5961;
  max-width: 700px;
}

.main {
  background-color: #143443;
}
/* Style the header */
#question, #titleMessage{
  font-family: 'Alexandria', sans-serif;
}

/* The grid container */
.grid-container {
  display: grid;
  border:3px solid #0000ff;
  border-image: linear-gradient(to bottom, #4a5961, #2a3c45) 1;
  grid-template-rows:150px 330px 400px;
  grid-template-areas: 
      'header' 
      'left' 
      'right' 
      'footer2'
	    'footer1';
      
}

.header {
  grid-area: header;
  background-color: #143443;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
  
 

.left,
.right,
.header,
.footer1, .footer2, #titleMessage {
  
  display:grid;
  justify-items:center;  
  align-items:center;  
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: #143443;
}



/* Style the right column */
.right {
  grid-area: right;
  background-color: #001b28;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image {
  width: 400px;
  height: 400px;
}

/* Style the footer */
.footer1 {
  grid-area: footer1;
  background-color: #143443;
  padding: 5px;
  text-align: center;
  font-family: 'Alexandria', sans-serif;
  font-size: 15px;
}

.footer2 {
  grid-area: footer2;
  background-color: #143443;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  font-family: 'Alexandria', sans-serif;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}


#question {
  font-size: 2em;
  font-weight:bold;
}


.options {
   font-family: 'Alexandria', sans-serif;
   padding:0.5em;
   cursor: pointer;
   border: 3px solid #02202e;
   margin: 5px;
   border-radius: 15px;
   background-color: #4a5961;
   color:#000000;
   font-size: 20px;
}

.options:hover {
  border:3px solid #2a3c45;
}

#lightbox {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.8);   
}

#message {
    width:80%;
    padding:20px;
    background-color:#2a3c45;
    color:#ffffff;
    text-align:center;
    font-size:4em;
    font-weight:bold;
    /* vertically and horizontally center the text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.right {
  width: 100%;
  height: 100%;
  display: flex;
}
#image {
  width: 100%;
  height: 100%;
}
#titleMessage, #question {
  font-size: 30px;
}

#scoreText{
  font-size: 30px;
  border: 3px solid #02202e;
  border-radius: 15px;
  padding: 15px;
  
}

#lifeline {
  font-family: 'Alexandria', sans-serif;
   padding:0.5em;
   cursor: pointer;
   border: 3px solid #02202e;
   margin: 5px;
   border-radius: 15px;
   background-color: #4a5961;
   color:#000000;
   font-size: 20px;
}

#lifeline:hover {
  border: 3px solid #cccccc;
}
/* end of Mobile/Default Version */

/* Desktop Version */
@media (min-width: 773px) {
	body {
    max-width: 1100px;
  }
 .grid-container  {
  grid-template-rows:150px 500px 100px;
    grid-template-areas: 
      'header header header header' 
      'left left right right' 
      'footer1 footer1 footer2 footer2';
    border-image: linear-gradient(to right, #4a5961, #2a3c45) 1;
  }
  .right {
    min-width: 500px;
    min-height: 500px;
    width: 100%;
    height: 100%;
  }

  #image {
    min-width: 500px;
    min-height: 500px;
    width: 100%;
    height: 100%;
  }
  #titleMessage, #question {
    text-align: center;
    font-size: 45px;
  }
  .options {
    font-family: 'Alexandria', sans-serif;
   font-size:1.3em;
   padding:18px;
   margin: 16px;
   width: 90%;
}

}/* end of Media Query / Desktop Version */
